body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}  