@media screen and (max-width: 717px) {

    .pimg1,.pimg2,.pimg3,.pimg4,.pimg5,.pimg6,.pimg7,.pimg8,.pimg9,.pimg10,.pimg11,.pimg12{

        z-index: -1;

    }

    #openMenu, #closeMenu{
        display: block;
    
    }
    #openMenu{
        margin-left: auto;
    }
    
    #closeMenu{
        position: fixed;
        right: 15px;
        top: 15px;
    }
    
    nav{
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.8);
        justify-content: center;
        align-items: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
    
    nav a{
        margin: 3%;
    }

    .pimg1{

        background-attachment: fixed;

    }
    
}
